<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-4" *ngFor="let item of meals | slice : 0 : 10">
      <div class="card">
        <img src="{{ item.image }}" class="card-top-img" />
        <div class="card-body">
          <h3>{{ item.title }}</h3>
          <!-- <h3>id :{{ item._id }}</h3> -->
          <h3>{{ item.price | currency : "EGP" : "symbol" }}</h3>
          <button
            type="button"
            class="btn btn-info"
            routerLink="/meals/{{ item._id }}"
          >
            show
          </button>
          <br><br><br>
          <div>
          <!-- ******* -->
          <button
            type="button"
            class="btn btn-danger"
            routerLink="/cart{{ item._id }}"
          >
            Add to cart
          </button>
          <!-- ********************* -->
          <!-- <button class="btn btn-danger " (click)="handleClick(item)">Add To Cart</button> -->
          <!-- *********************** -->
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
